SELECT
    COLUMN_NAME,
    DATA_TYPE,
    IS_NULLABLE,
    COLUMN_DEFAULT
FROM
    INFORMATION_SCHEMA.COLUMNS
WHERE
    TABLE_SCHEMA = '{{ schema_name | required }}'
    AND TABLE_NAME = '{{ table_name | required }}'
ORDER BY
    ORDINAL_POSITION