SELECT
    TABLE_NAME,
    TABLE_SCHEMA,
    ENGINE,
    TABLE_ROWS,
    DATA_LENGTH,
    INDEX_LENGTH,
    CREATE_TIME,
    UPDATE_TIME,
    TABLE_COMMENT
FROM
    INFORMATION_SCHEMA.TABLES
WHERE
    TABLE_SCHEMA = '{{ schema_name | required }}'
    AND TABLE_NAME = '{{ table_name | required }}'