.venv
.venv*
.venv_pip_test
**__pycache__**
/build
/insight_ingenious_for_fabric.egg-info
/output
.DS_Store
/ingen_fab/insight_ingenious_for_fabric.egg-info
temp-publish
fabric_cicd.error.log
/temp
/tmp
/.ruff_cache
/.pytest_cache
/.pre-commit-cache
/fabric_cicd.error.log
/.venv_win
/site/**/*/
/tmp/**/*/
/node_modules/**/*/
ModuleAnalysisCache-AE0255EC
StartupProfileData-Interactive
/metastore_db/**/*/
/node_modules/**/*/
/sample_*/**/*/
/sample_*/*
*.egg-info
derby.log
/artefacts/**/*/
# pip install testing
pip_install_test/

/_tmp/
/test_synapse_sync/