.venv
**__pycache__**
/build
/insight_ingenious_for_fabric.egg-info
/output
.DS_Store
/ingen_fab/insight_ingenious_for_fabric.egg-info
temp-publish
fabric_cicd.error.log
/temp
/tmp
/.ruff_cache
/.pytest_cache
/fabric_cicd.error.log
/.venv_win
/site/**/*/
/tmp/**/*/