# METADATA ********************

# META {
# META   "language": "python",
# META   "language_group": "{{language_group | required}}"
# META }

# MARKDOWN ********************

# ## 📄 {{heading_name}}

# CELL ********************

guid="{{script_guid}}"
object_name = "{{script_name}}"

def script_to_execute():
    {% for line in content.split('\n') %}{{ line }}
    {% endfor %}

du.run_once(script_to_execute, "{{script_name}}","{{script_guid}}")

def script_to_execute():
    print("Script block is empty. No action taken.")