# Fabric notebook source

# METADATA ********************

# META {
# META   "kernel_info": {
# META     "name": "jupyter",
# META     "jupyter_kernel_name": "python3.11"
# META   },
# META   "language_info": {
# META     "name": "python"
# META   }
# META }



# ## 『』Parameters



# Default parameters  
{{ parameters_content | default("# Add default parameters here") }}


# METADATA ********************

# META {
# META   "language": "python"
# META }