{% macro python_cell_with_heading(heading) %}
# METADATA ********************

# META {
# META   "language": "python",
# META   "language_group": "synapse_pyspark"
# META }

# MARKDOWN ********************

# {{ heading }}

# CELL ********************

{% endmacro %}