# METADATA ********************

# META {
# META   "language": "python",
# META   "language_group": "synapse_pyspark"
# META }

# MARKDOWN ********************

# ## 𝄜 {{heading_name}}

# CELL ********************

%%sql 

{{ content}}