CREATE TABLE {{ schema_name | required }}.{{ table_name | required }} (
    script_id VARCHAR(255) NOT NULL,
    script_name VARCHAR(255) NOT NULL,
    execution_status VARCHAR(50) NOT NULL,
    update_date DATETIME2(0) NOT NULL
)