CREATE TABLE {{ schema_name | required }}.{{ table_name | required }} (
    {%- for col, dtype in schema.items() %}
        {{ col }} {{ dtype }}{% if not loop.last %}, {% endif %}
    {%- endfor %}
)
{% if options %}
    {%- for k, v in options.items() %}
        {{ k }} = '{{ v }}'{% if not loop.last %}, {% endif %}
    {%- endfor %}
{% endif %}
;
