{% macro python_cell_with_heading(heading) %}
{%include "/common/nb_cell_python.py.jinja" %}
{%include "/common/nb_cell_markdown.py.jinja" %}
# {{ heading }}
{%include "/common/nb_cell_cell.py.jinja" %}
{% endmacro %}

{% macro parameters_cell() %}
{%- include "/common/nb_cell_markdown.py.jinja" %}

# ## 『』Parameters

{% include "/common/nb_cell_parameters.py.jinja" -%}
{% endmacro %}

